<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://tlgsensei.github.io/gtl.github.io">Home</a></li>
		        	<li><a href="https://tlgsensei.github.io/gtl.github.io/about">About</a></li>
				<li><a href="https://tlgsensei.github.io/gtl.github.io/blog">Blog</a></li>
	        		<li><a href="https://tlgsensei.github.io/gtl.github.io/diary">Diary</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
